/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", sans-serif;
}
p {
  font-family: "Jura", sans-serif;
}

a {
  font-family: "Fuzzy Bubbles", sans-serif;
}
.customNav {
  position: fixed;
  width: 100%;
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  padding-right: 15px;
  width: 65px;
}
.nav-item {
  margin: 0px 15px;
}
/* Navigation links */
.customNav a {
  color: white !important;
}

.heroBackground {
  background-image: url(../images/endless-constellation.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumboCopy {
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  color: white;
  text-align: center;
}
